﻿body,ul,li,h1,h2,h3,h4,h5,h6,dl,dd,p,form{margin:0;padding:0;}a,a:hover{text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}li{list-style:none;}img{border:0px;}em,i{font-style:normal}table{border-collapse:collapse}input,button,select,textarea{outline:none;padding:0rem;margin:0rem}input,textarea{border:0;background:none;}textarea{resize:none}input,select,button{-webkit-appearance:none;-webkit-tap-highlight-color:transparent;-webkit-border-radius:0rem;-moz-border-radius:0rem;border-radius:0rem}input[type="submit"],input[type="reset"],input[type="button"],input[type="text"],select,button{-webkit-appearance:none;-webkit-tap-highlight-color:transparent;-webkit-border-radius:0rem;border-radius:0rem;-moz-border-radius:0rem}html{line-height:1.6;}body{max-width:720px;margin:0 auto;font-family:"微软雅黑"}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:16px;}
.foot {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    background: rgb(255,102,0);
    border-top: 1px solid #ccc;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
}
.foot img {
    float:left;
    margin-top:-5px;
    width:70px;
}
.foot p {
    font-size:15px;
    position:relative;
    color:#fff;
    padding-top:8px;
    line-height:20px
}
.foot b {
    color:rgb(255,244,92);
    font-size:18px
}
.fix {
    color: #717375;
    font-size: 16px;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 20px;
}
.fix div {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1200px;
}
.fix p {
    background-color: #fff;
    border: 1px solid #d9dadc;
    padding: 16px;
    position: absolute;
    right: -14px;
    top: 0;
    width: 195px;
}
.content{position:relative;padding:15px 10px 70px;font-size:16px}.title{padding-bottom:10px;margin-bottom:14px;border-bottom:1px solid #e7e7eb;line-height:1.4;font-weight:400;font-size:24px;}.rich_list{position:relative;z-index:1;margin-bottom:10px;line-height:20px;font-size:0}.rich_list em{max-width:none;color:#8c8c8c;display:inline-block;vertical-align:middle;margin-right:8px;margin-bottom:10px;font-size:16px;}.rich_list a{vertical-align:middle;margin-right:8px;margin-bottom:10px;font-size:16px;color:#607fa6;max-width:none;display:inline-block!important;}.rich_media{position:relative;overflow:hidden;color:#3e3e3e;padding-bottom:20px}.menu{position:relative;font-size:14px;margin-bottom:10px}.menu span{display:inline-block;border:rgb(255,102,0) 1px solid;width:34px;line-height:17px;text-align:center;color:rgb(6,6,6)}.menu p{background:rgb(255,102,0);position:absolute;top:1px;right:0;left:38px;height:36px;line-height:36px;padding:0 3px;color:#fff;font-weight:bold;}.titCont{font-size:14px;margin-bottom:15px}.titCont strong{display:block;color:#f00;font-size:16px}span.orange{color:rgb(255,76,0);font-weight:bold}span.brown{color:rgb(123,12,0);font-weight:bold}.markList{font-size:14px;color:#3e3e3e;margin-bottom:15px}.markList mark{background:transparent;display:inline-block;}.rich_media .imgBox{text-align:center;margin-bottom:25px;list-style:none}.rich_media .imgBox img{max-width:100%;display:block;margin:0 auto}
.uls{color:#3e3e3e;font-size:16px}
.uls li{
    margin-top:10px
    }
mark.red{background:rgb(255,76,0);color:#fff;font-weight:bold}span.max{font-size:16px}
mark.yellow{background:rgb(255,251,0);color:#3e3e3e;font-weight:bold;font-size: 20px;}.contBot{font-size:18px}.label{height:28px;padding-bottom:5px;padding:0 13px 3px;background:#FFF;border-bottom:1px solid #e0e0e0;line-height:28px;}.label h3{border-bottom-color:#3668b2;padding:0 0 3px 0;border-bottom:1px solid #3668b2;bottom:0;font-size:14px;color:#333;position:relative;float:left;}.label a{margin-left:15px;float:right;display:block;vertical-align:middle;font-size:12px;color:#666;}
/* .tb{border-bottom:1px solid #e5e5e5;} */
.topicCon{padding:10px 10px 8px;position:relative;}.personImgDate{padding-right:45px;line-height:21px;overflow:hidden;}.perImg{width:100%;height:25px;overflow:hidden;text-overflow:ellipsis;color:#000;display:block;}.perImg img{display:block;width:20px;border-radius:30px;top:10px;left:10px;position:absolute;vertical-align:middle;}.timeT{padding-left:25px;color:#3668b2;line-height:18px;font-size:13px;}.gbg1{width:22px;height:14px;margin:-2px 2px 0;display:inline-block;line-height:15px;text-align:center;vertical-align:middle;-moz-border-radius:0.2rem;-webkit-border-radius:0.2rem;border-radius:0.2rem;font-size:8px;font-weight:normal;color:#FFF;background-color:#8dc56a;}.floorNum{position:absolute;top:10px;right:10px;color:#a0a0a0;display:block;}.detailCon{margin:5px auto 0;overflow:hidden;}.detailCon div{word-break:break-all;line-height:1.4;font-size:16px;color:#1d1d1d;}.detailCon p{margin:10px 0 10px 0;word-break:break-all;line-height:1.4;font-size:17px;color:#1d1d1d;}.time{padding:5px 0 0 2px;font-size:11px;float:left;color:#999}.bottom{font-size:14px;margin-top:110px;text-align:center;padding-bottom:150px;color:#898989}.bottom span{color:#607fa6;font-size:2.4rem}

.tudkg {

    text-align: center;

    font-size: 25px;

    line-height: 2.4rem;

    color: #FFf;

    max-width: 500px;

    background: #F60;

    margin: 10px auto 0;

    padding: 15px 0;

    display: block;

}

.T2_p2 {

    font-size: 1rem;

    line-height: 36px;

    color: #2a2a2a;

    margin-left: 28px;

    margin-top: 40px;

}

.T2_p2 span {

    color: #FF0000;

    font-weight: bold;

}

.wechat {

    background: #fff none repeat scroll 0 0;

    border-radius: 20px;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

    color: #666;

    display: none;

    left: 10%;

    padding: 30px 0;

    position: fixed;

    right: 10%;

    text-align: center;

    top: 20%;

    width: 80%;

    z-index: 5000;

}

.zmtWechat { bottom: 0; height: 40px; max-width: 740px; position: fixed; width: 100%;}

.wechatIcon { vertical-align: middle; width: 30px;}

.we1 {  background: #e50150; color: #ffffff; float: left; font-size: 18px; height: 50px; line-height: 50px; overflow: hidden; padding-top: 0; position: relative;  text-align:center;}

.we1 a {  color: #ffffff; text-decoration: none;}

.we2 { background: #302825 ; color: #ffffff; float: left; font-size: 18px;  height: 50px; line-height: 50px; padding-top: 0;  width: 60%; text-align:center;}

.zmtWechat { bottom: 0; height: 50px; position: fixed; width: 100%;}



.wechatBox { display: none;  height: 100%; position: fixed;  top: 0; width: 100%; z-index: 5;}

.wechatimg {  background: #fff; border-radius: 20px; box-shadow: 1px 1px 2px rgba(0, 0, 0, 1); color: #666; display: none; left: 10%; position: fixed; right: 10%; text-align: center; top: 20%; width: 80%; z-index: 5000;}

.wechatimg img { width: 100%;}

.wechat .p1 { font-size: 16px;}

.wechat .p2 {  font-size: 20px;}

.wechat .wxid {  background-color: #f62796; color: #fff; font-size: 40px;  margin: 10px 0; padding: 10px;}

.wxid {

    background-color: #f62796;

    color: #fff;

    font-size: 40px;

    margin: 10px 0;

    padding: 10px;

}





#flow_wx {

	font-size:.8em;

	position:fixed;

	right:0.5em;

	top:40%;

}

#flow_wx #wx_icon {

	width:5em;

	height:5em;

	background:url(../images/wx_icon.png) no-repeat 0 0;

	background-size:18em;

	

}

#flow_wx #wx_copy {

	width:18em;

	height:12em;

	background:url(../images/wx_icon.png) no-repeat 0 -5.8em;

	background-size:22em;

	position:fixed;

	left:50%;

	top:50%;

	margin-left:-9em;

	margin-top:-5em;

	text-align:center;

	padding:3em 0 0;

	box-sizing:border-box;

	overflow:hidden;

	display:none;

}

#flow_wx #wx_copy span {

	font-size:1.4em;

	color:#fff;

	background:#086116;

	padding:0 0.2em 0.1em;

}

#flow_wx #wx_copy em {

	font-size:1em;

	line-height:1em;

	color:#666;

	margin:0.8em 0;

	display:inline-block;

}

#flow_wx #wx_copy i {

	width:1.5em;

	height:1.5em;

	background:url(../images/wx_icon.png) no-repeat -9.2em 0;

	background-size:22em;

	display:inline-block;

	vertical-align:middle;

}

#flow_wx #wx_copy b {

	font-size:0.8em;

	color:#9d9d9d;

	margin-left:0.5em;

}

#flow_wx #wx_copy p {

	position:absolute;

	right:1.5em;

	top:1em;

	width:2em;

	height:2em;

}

.umus {

    display: block;

    position: absolute;

    right: 8px;

    text-align: center;

    top: 6px;

}



.umus a {

    color: rgb(255, 255, 255);

    display: block;

    float: right;

    height: 20px;

    margin-left: 1px;

    overflow: hidden;

    padding: 7px;

    width: 24px;

}